body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #4CAF50;
}

.button {
    padding: 10px 20px;
    margin: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:disabled {
    background-color: #ccc;
}

/* Görsel stilini ekleyin */
.game-image {
    margin: 20px;
    width: 200px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
}
